{% extends 'base.html.twig' %}

{% block title %}{% trans %}Zlecono wyprodukowanie karty kwalifikacyjnej{% endtrans %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{% trans %}Przekazano Twoje zgłoszenie do wygenerowania karty!{% endtrans %}</h1>
    {% trans %}Czuwaj!{% endtrans %}

    <p>{% trans %}Za chwilę otrzymasz wygenerowaną kartę kwalifikacyjną na swoją skrzynkę pocztową. Powinno to zająć do 15 minut. Po otrzymaniu karty wydrukują ją, sprawdź, podpisz oraz przekaż drużynowemu lub komendantowi obozu.{% endtrans %}</p>
</div>
{% endblock %}
