<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>

  <body class="bg-light">
    <div class="container">   
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://www.zhp.wlkp.pl/wp-content/uploads/2022/10/Choragiew-Wielkopolska-logo-zielone-300x102.png" alt="" height="72">
            <h2>Elektroniczny system rejestracji uczestników HAL</h2>
        </div>

        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>